
.depicter-13-element-89 .depicter-symbol-container{
	fill:#0517F5;
}
.depicter-13-element-91 .depicter-symbol-container{
	fill:#0517F5;
}
.depicter-revert .depicter-13-element-100{
	font-size:20px;
	text-align:center;
	color:#0517F5;
	font-family:"Montserrat";
	font-weight:700;
	line-height:120%;
	text-transform:uppercase;
	background-color:transparent;
}
.depicter-revert .depicter-13-element-94{
	font-size:38px;
	text-align:center;
	color:#0517F5;
	font-family:"Montserrat";
	font-weight:700;
	line-height:120%;
	text-transform:uppercase;
	background-color:transparent;
}
.depicter-revert .depicter-13-element-4{
	font-size:14px;
	text-align:center;
	color:#FFFFFF;
	font-family:"Montserrat";
	font-weight:300;
	direction:ltr;
	background-color:#0517F5;
	border-radius:20px;
}
.depicter-revert .depicter-13-element-3{
	font-size:43px;
	text-align:left;
	color:#0517F5;
	font-family:"Montserrat";
	font-weight:700;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-13-element-2{
	font-size:27px;
	color:#000000;
	font-family:"Montserrat";
	font-weight:500;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-13-section-1 .depicter-section-background{
	background-color:#FFFFFF;
}
.depicter-revert .depicter-13-element-134{
	font-size:20px;
	text-align:center;
	color:#0517F5;
	font-family:"Montserrat";
	font-weight:700;
	line-height:120%;
	text-transform:uppercase;
	background-color:transparent;
}
.depicter-revert .depicter-13-element-131{
	font-size:40px;
	text-align:center;
	color:#0517F5;
	font-family:"Open Sans";
	font-weight:800;
	line-height:120%;
	text-transform:uppercase;
	background-color:transparent;
}
.depicter-revert .depicter-13-section-130 .depicter-section-background{
	background-color:#FFFFFF;
}
.depicter-revert .depicter-13-element-140{
	font-size:20px;
	text-align:center;
	color:#0517F5;
	font-family:"Montserrat";
	font-weight:700;
	line-height:120%;
	text-transform:uppercase;
	background-color:transparent;
}
.depicter-revert .depicter-13-element-92{
	transform:rotate(19deg);
}
.depicter-revert .depicter-13-element-70{
	font-size:40px;
	text-align:center;
	color:#0517F5;
	font-family:"Open Sans";
	font-weight:800;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-13-section-63 .depicter-section-background{
	background-color:#FFFFFF;
}
.depicter-revert .depicter-13-element-142{
	font-size:20px;
	text-align:center;
	color:#0517F5;
	font-family:"Montserrat";
	font-weight:700;
	line-height:120%;
	text-transform:uppercase;
	background-color:transparent;
}
.depicter-revert .depicter-13-element-46{
	font-size:40px;
	text-align:center;
	color:#0517F5;
	font-family:"Open Sans";
	font-weight:800;
	line-height:120%;
	text-transform:uppercase;
	background-color:transparent;
}
.depicter-revert .depicter-13-section-38 .depicter-section-background{
	background-color:#FFFFFF;
}
.depicter-revert .depicter-13-element-144{
	font-size:20px;
	text-align:center;
	color:#0517F5;
	font-family:"Montserrat";
	font-weight:700;
	line-height:120%;
	text-transform:uppercase;
	background-color:transparent;
}
.depicter-revert .depicter-13-element-37{
	font-size:36px;
	text-align:center;
	color:#0517F5;
	font-family:"Open Sans";
	font-weight:800;
	line-height:120%;
	text-transform:uppercase;
	background-color:transparent;
}
.depicter-revert .depicter-13-section-25 .depicter-section-background{
	background-color:#FFFFFF;
}
.depicter-revert .depicter-13-element-146{
	font-size:20px;
	text-align:center;
	color:#0517F5;
	font-family:"Montserrat";
	font-weight:700;
	line-height:120%;
	text-transform:uppercase;
	background-color:transparent;
}
.depicter-revert .depicter-13-element-60{
	transform:rotate(24deg);
}
.depicter-revert .depicter-13-element-55{
	font-size:34px;
	text-align:center;
	color:#0517F5;
	font-family:"Open Sans";
	font-weight:800;
	line-height:120%;
	text-transform:uppercase;
	background-color:transparent;
}
.depicter-revert .depicter-13-element-61{
	opacity:0.933;
}
.depicter-revert .depicter-13-section-50 .depicter-section-background{
	background-color:#FFFFFF;
}
.depicter-revert .depicter-13-element-148{
	font-size:20px;
	text-align:center;
	color:#0517F5;
	font-family:"Montserrat";
	font-weight:700;
	line-height:120%;
	text-transform:uppercase;
	background-color:transparent;
}
.depicter-revert .depicter-13-element-78{
	font-size:40px;
	text-align:center;
	color:#0517F5;
	font-family:"Open Sans";
	font-weight:800;
	line-height:120%;
	text-transform:uppercase;
	background-color:transparent;
}
.depicter-revert .depicter-13-element-82{
	transform:rotate(-1deg);
}
.depicter-revert .depicter-13-section-73 .depicter-section-background{
	background-color:#FFFFFF;
}

/***** Mobile *****/
@media screen and (max-width: 767px){

.depicter-revert .depicter-13-element-100{
	font-size:18px;
	text-align:center;
}
.depicter-revert .depicter-13-element-94{
	font-size:23px;
	text-align:center;
}
.depicter-revert .depicter-13-element-3{
	font-size:22px;
	text-align:center;
}
.depicter-revert .depicter-13-element-2{
	font-size:20px;
}
.depicter-revert .depicter-13-element-134{
	font-size:18px;
	text-align:center;
}
.depicter-revert .depicter-13-element-131{
	font-size:25px;
}
.depicter-revert .depicter-13-element-140{
	font-size:18px;
	text-align:center;
}
.depicter-revert .depicter-13-element-92{
	transform:rotate(19deg);
}
.depicter-revert .depicter-13-element-70{
	font-size:25px;
}
.depicter-revert .depicter-13-element-142{
	font-size:18px;
	text-align:center;
}
.depicter-revert .depicter-13-element-46{
	font-size:25px;
}
.depicter-revert .depicter-13-element-144{
	font-size:18px;
	text-align:center;
}
.depicter-revert .depicter-13-element-37{
	font-size:25px;
}
.depicter-revert .depicter-13-element-146{
	font-size:18px;
	text-align:center;
}
.depicter-revert .depicter-13-element-60{
	transform:rotate(27deg);
}
.depicter-revert .depicter-13-element-55{
	font-size:25px;
}
.depicter-revert .depicter-13-element-148{
	font-size:18px;
	text-align:center;
}
.depicter-revert .depicter-13-element-78{
	font-size:25px;
}
.depicter-revert .depicter-13-element-82{
	transform:rotate(-1deg);
}

}
